<div class="contact-us-widget">
  <div class="contact-us-widget__overlay lg:pr-[130px] lg:pl-[48px] p-5">
    <p
      data-aos="fade-right"
      data-aos-offset="400"
      data-aos-once="false"
      class="contact-us-widget__slogan text-[24px] md:text-[37px] font-sans leading-[48px] md:leading-[62px] mb-[30px] md:mb-0 lg:w-[70%]"
    >
      Join us in shaping the future with La Ciudad Construction – Where Dreams
      Take Shape.
    </p>
    <a
      data-aos="fade-left"
      data-aos-delay="300"
      data-aos-offset="400"
      data-aos-once="false"
      class="btn btn--primary"
      routerLink="/contact-us"
    >
      Contact Us
    </a>
  </div>
</div>
