<div class="what-we-do-wrapper">
  <div
    class="app-page-container container-view-port__wrapper container-view-port__wrapper--top container-view-port__wrapper--bottom"
  >
    <app-carousel></app-carousel>
    <div class="mb-[80px]">
      <!-- <div class="mb-[60px] what-we-do__banner" data-aos="zoom-in"></div> -->
      <h2 class="text-primary uppercase mb-4" data-aos="fade-up">What We Do</h2>
      <p data-aos="fade-up" data-aos-delay="200">
        La Ciudad Construction is a full-service Nigerian commercial general
        contractor that provides high-quality construction services for projects
        of all types and sizes. We are dedicated to excellence and offer premium
        commercial construction services for a wide variety of projects.
      </p>
    </div>

    <div class="mb-[80px]">
      <h2
        class="text-primary uppercase mb-4"
        id="architectural-design"
        data-aos="fade-up"
      >
        INDUSTRIAL AND RESIDENTIAL BUILDINGS
      </h2>
      <p data-aos="fade-up" data-aos-delay="200">
        We specialize in industrial and residential building, including
        warehouses, factories, homes, and multi-unit developments. Our team
        works closely with clients to bring their vision to life and create
        functional and beautiful spaces that reflect their personality and
        lifestyle. We handle large-scale projects using state-of-the-art
        technology and materials to ensure efficiency, durability, and safety..
      </p>
    </div>

    <div class="mb-[80px]">
      <h2
        class="text-primary uppercase mb-4"
        id="infrastructure-buildings"
        data-aos="fade-up"
      >
        Infrastructure Buildings and Civil Work
      </h2>
      <p data-aos="fade-up" data-aos-delay="100">
        We specialize in developing diverse mobility infrastructure using a
        circular economy approach. Our expertise ranges from urban development
        to recreational centers, and we assist both public and private sectors
        in overcoming challenges related to urban regeneration and social
        integration. Our services cover a wide range of projects, from unique
        architecture and digital construction technology to everyday buildings.
        <br />
        We deliver
      </p>
      <ul>
        <li data-aos="fade-up" data-aos-delay="200">
          Infrastructure that satisfies basic needs such as water energy and
          mobility
        </li>
        <li data-aos="fade-up" data-aos-delay="300">
          Engineering innovations that connects places
        </li>
        <li data-aos="fade-up" data-aos-delay="400">
          Structures that benefits everyone
        </li>
        <li data-aos="fade-up" data-aos-delay="500">
          Civil works that organizes into 3 business parallel lines
        </li>
      </ul>
    </div>

    <div class="mb-[80px]">
      <h2
        class="text-primary uppercase mb-4"
        id="project-management"
        data-aos="fade-up"
      >
        Project Management
      </h2>
      <p data-aos="fade-up" data-aos-delay="100">
        We manage outcome-driven projects from design to commissioning,
        connecting expertise and sub-contractors across markets and geographies.
        Our services include planning, coordination, scheduling, cost control,
        and ongoing engagement for transformational change and long-term value.
        Our project delivery services<br />
      </p>
      <ul>
        <li data-aos="fade-up" data-aos-delay="300">
          Planning, estimating change and management.
        </li>
        <li data-aos="fade-up" data-aos-delay="400">
          Project advisory , master scheduling /schedule analysis
        </li>
        <li data-aos="fade-up" data-aos-delay="500">
          Cost and design management.
        </li>
        <li data-aos="fade-up" data-aos-delay="600">
          Front-end engineering design
        </li>
        <li data-aos="fade-up" data-aos-delay="700">Design reviews</li>
      </ul>
    </div>
    <div class="mb-[80px]">
      <h2
        class="text-primary uppercase mb-4"
        id="engineering-procurement"
        data-aos="fade-up"
      >
        Engineering Procurement
      </h2>
      <p data-aos="fade-up" data-aos-delay="100">
        At La Ciudad, we offer comprehensive EPC services to clients from
        various industries. Our commitment to our customers is to provide
        quality goods and services from reliable suppliers and subcontractors,
        ensuring their safe mobilization and timely delivery. With our advanced
        supply chain, market data, and skilled professionals, we have the right
        processes and automation tools to source for the best suppliers around
        the world while complying with all laws and regulations.<br />
        We deliver
      </p>
      <ul>
        <li data-aos="fade-up" data-aos-delay="200">
          Long –term with OEMS and contractors organizations to promote
          collaboration and innovation.
        </li>
        <li data-aos="fade-up" data-aos-delay="300">
          Supply quality and shop inspection.
        </li>
        <li data-aos="fade-up" data-aos-delay="400">
          Capital efficiency and projects certainty.
        </li>
      </ul>
    </div>
  </div>
  <!--  <app-contact-us-widget></app-contact-us-widget>-->
</div>
